In [2]:
import pandas as pd

df = pd.read_csv('../../data/preprocessed_train.csv')
df = df[['data', 'label']]

df.head()

                                                data  label
0  지금 너 스스로를 죽여달라고 애원하는 것인가 ? 아닙니다 . 죄송합니다 . 죽을 거...      0
1  길동경찰서입니다 . 시 분 마트에 폭발물을 설치할거다 . 네 ? 똑바로 들어 한번만...      0
2  너 되게 귀여운거 알지 ? 나보다 작은 남자는 첨봤어 . 그만해 . 니들 놀리는거 ...      3
3  어이 거기 예 ? ? 너 말이야 너 . 이리 오라고 무슨 일 . 너 옷 좋아보인다 ...      1
4  저기요 혹시 날이 너무 뜨겁잖아요 ? 저희 회사에서 이 선크림 파는데 한 번 손등에...      1

In [42]:
!pip install -U deep-translator

Collecting deep-translator
  Downloading deep_translator-1.11.4-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.4 MB/s
Collecting beautifulsoup4<5.0.0,>=4.9.1
  Downloading beautifulsoup4-4.12.2-py3-none-any.whl (142 kB)
     |████████████████████████████████| 142 kB 12.4 MB/s
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /opt/conda/lib/python3.9/site-packages (from deep-translator) (2.26.0)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.9/site-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (2.3.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.0.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (1.26.7)
Installing collected packages: beautifulsoup4, deep-translator
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.0
    Uninstalling beautifulsoup4-4.6.0:
      Successfully uninstalled beautifulsoup4-4.6.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
konlpy 0.5.2 requires beautifulsoup4==4.6.0, but you have beautifulsoup4 4.12.2 which is incompatible.
Successfully installed beautifulsoup4-4.12.2 deep-translator-1.11.4
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [43]:
from deep_translator import GoogleTranslator

GoogleTranslator(source='auto', target='en').translate("안녕하세요")

'hello'

In [49]:
GoogleTranslator(source='auto', target='ja').translate("안녕하세요")

'こんにちは'

In [44]:
from deep_translator import GoogleTranslator

def translate(sentence, _type='en'):
    temp = GoogleTranslator(source='auto', target=_type).translate(sentence)
    return GoogleTranslator(source='auto', target='ko').translate(temp)

In [8]:
df['data'][0]

'지금 너 스스로를 죽여달라고 애원하는 것인가 ? 아닙니다 . 죄송합니다 . 죽을 거면 혼자 죽지 우리까지 사건에 휘말리게 해 ? 진짜 죽여버리고 싶게 . 정말 잘못했습니다 . 너가 선택해 . 너가 죽을래 네 가족을 죽여줄까 . 죄송합니다 . 정말 잘못했습니다 . 너에게는 선택권이 없어 . 선택 못한다면 너와 네 가족까지 모조리 죽여버릴거야 . 선택 못하겠습니다 . 한번만 도와주세요 . 그냥 다 죽여버려야겠군 . 이의 없지 ? 제발 도와주세요 .'

In [45]:
translate('안녕하세요')

'안녕하세요'

In [46]:
translate(df['data'][0])

"지금 죽여달라고 애원하는거야? 아니요 . 죄송합니다 . 죽으려면 혼자 죽으면 된다. 우리도 사건에 휘말리게 할까요? 난 정말 당신을 죽이고 싶어요. 나는 정말로 틀렸다. 당신은 당신이 죽을 것인가, 당신의 가족을 죽일 것인가? 죄송합니다 . 나는 정말로 틀렸다. you don't have a choice 선택하지 않으면 너와 네 가족을 모두 죽이겠다. 고를 수가 없네요 한번만 도와주세요. 모두 죽여야만 합니다. 이의가 없습니까? 도와주세요 ."

In [47]:
en_df = df
en_df['data'] = en_df['data'].apply(lambda it: translate(it, _type='en'))

en_df.head()

                                                data  label
0  지금 죽여달라고 애원하는거야? 아니요 . 죄송합니다 . 죽으려면 혼자 죽으면 된다....      0
1  길동경찰서. Hour Boon Mart에 폭발물을 설치하려고 합니다. 예 ? 똑바로...      0
2  당신이 너무 귀여운 거 알아 나보다 작은 사람을 본 적이 없어. 멈추다 . 너희들을...      3
3  이봐 거기 그래? ? 당신 을 의미 합니까 당신 이 무슨 말씀 이세요 ? 당신은 옷...      1
4  야, 혹시 너무 덥지? 우리 회사는 이 자외선 차단제를 판매합니다. 손등에 사용해 ...      1

In [48]:
en_df.to_csv('../../data/train_bt_en.csv')

In [50]:
ja_df = df
ja_df['data'] = ja_df['data'].apply(lambda it: translate(it, _type='ja'))

ja_df.head()

                                                data  label
0  지금 죽여달라고 간청하는 거야? 아니. 죄송합니다. 죽기 위해서는 혼자 죽으면 좋다...      0
1  요시토 경찰서. Hour Boon Mart에 폭발물을 설치하려고합니다. 예? 똑바로...      0
2  너는 너무 귀엽다는 것을 아는 나보다 작은 사람을 본 적이 없다. 중지합니다. 당신...      3
3  이봐, 거기? ? 무슨 뜻입니까? 당신은 옷을 좋아합니까, 그는 조금 돈이 필요합니...      1
4  그래, 너 너무 덥지? 우리의 회사는 이 자외선 차단제를 판매합니다. 손등에 사용해...      1

In [51]:
ja_df.to_csv('../../data/train_bt_ja.csv')

In [52]:
en = pd.read_csv('../../data/train_bt_en.csv')
ja = pd.read_csv('../../data/train_bt_ja.csv')

len(en), len(ja)

(3950, 3950)

In [53]:
df = pd.concat([en, ja])

len(df)

7900

In [54]:
df.drop_duplicates(subset="data", inplace=True)

len(df)

7686